<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h4 class="alert-heading">Success!</h4>
    <hr>
    <p class="mb-0">App trapped new request</p>
</div>