{{#contentFor 'pageNav'}}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{{/contentFor}}

{{#contentFor 'pageScripts'}}
    <script src="/js/instruction.js"></script>
    <script>
        $(document).ready(function () {
            const socket = io();
            socket.on('requests', function(request) {
                handleRequest(request);
                showHideAlert();
            });
        });
    </script>
{{/contentFor}}

{{#contentFor 'body'}}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h2>Instruction:</h2>
        <ul class="list-group">
            {{#each trapRequests}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{{link _id href="/requests"}}}
                <span class="badge badge-dark">{{count}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
{{/contentFor}}
