.badge {
    color: #fff;
}
.badge.GET {
    background-color: #28a745;
}
.badge.POST {
    background-color: #ffc107;
}
.badge.DELETE {
    background-color:#dc3545;
}
.badge.PATCH {
    background-color: #6c757d;
}
.badge.PUT {
    background-color: #007bff;
}
.badge.HEAD {
    background-color: #17a2b8;
}
#success-alert {
    position: absolute;
    top: 10px;
    right: 10px;
}
#on-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}
